html {
    background-color: black;
}
.title {
    position: absolute;
    left: 35%;
    font-family: "Brush Script MT";
    font-size: 300%;
    color: white;
}
.intro {
    position: absolute;
    top: 7%;
    left: 20%;
    font-family: "Brush Script MT";
    font-size: 300%;
    color: white;
}
.Ninja {
    position: absolute;
    top: 50%;
}
.Alien {
    position: absolute;
    width: 18%;
    top: 50%;
    left: 78%;
}

.ab1 {
    position: absolute;
    top: 25%;
    left: 25%;
    border-radius: 50%;
}
.ab2 {
    position: absolute;
    top: 25%;
    left: 45%;
    border-radius: 50%;
}
.ab3 {
    position: absolute;
    top: 25%;
    left: 65%;
    border-radius: 50%;
}

.ab1:hover{
    border:solid thick yellow;
    border-width: 10px;
    background-color: turquoise;
}
.ab2:hover{
    border:solid thick yellow;
    border-width: 10px;
    background-color: turquoise;
}
.ab3:hover{
    border:solid thick yellow;
    border-width: 10px;
    background-color: turquoise;
}
.ab1:active{
    border:solid thick red;
    border-width: 10px;
    background-color: black;
}
.ab2:active{
    border:solid thick red;
    border-width: 10px;
    background-color: black
}
.ab3:active{
    border:solid thick red;
    border-width: 10px;
    background-color: black
}
.toShowN{
    position: absolute;
    top: 60%;
    left: 30%;
    width: 20%;
    height: auto;
}
.toShowA{
    position: absolute;
    top: 60%;
    left: 50%;
    width: 20%;
    height: auto;
}
.roundMessage{
    position: absolute;
    top: 45%;
    left: 45%;
    font-family: "Brush Script MT";
    font-size: 300%;
    color: white;
    display: none;
}
.nsc{
    position: absolute;
    top: 25%;
    left: 13%;
    font-family: "Brush Script MT";
    font-size: 300%;
    color: white;
}
.asc{
    position: absolute;
    top: 25%;
    left: 88%;
    font-family: "Brush Script MT";
    font-size: 300%;
    color: white;
}
.win{
    position: absolute;
    top: 45%;
    left: 38%;
    font-family: "Brush Script MT";
    font-size: 300%;
    color: white;
    display: none;
}
.loose{
    position: absolute;
    top: 45%;
    left: 34%;
    font-family: "Brush Script MT";
    font-size: 300%;
    color: white;
    display: none;
}
.draw{
    position: absolute;
    top: 45%;
    left: 42%;
    font-family: "Brush Script MT";
    font-size: 300%;
    color: white;
    display: none;
}
.button1{
    position: absolute;
    top: 75%;
    left: 43%;
    display:inline-block;
    padding: 0.35em 1.2em;
    border: 3px solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:"Brush Script MT";
    font-weight:300;
    text-align: center;
    transition: all 0.2s;
    color: #FFFFFF;
    width: 15%;
    height: 10%;
    font-size: 200%;
    background-color: black;
    display: none;
}
.button1:hover{
    color: black;
    background-color: white;
    border: 10px solid turquoise;
}
